<h4>Action Name</h4>
<mat-form-field appearance="outline">
  <mat-label>Action</mat-label>
  <mat-select #action>
    <mat-option *ngFor="let action of actions" [value]="action.value">
      {{action.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline" *ngIf="action.value === 'job'">
  <mat-label>Primary Skill</mat-label>
  <mat-select>
    <mat-option *ngFor="let job of skills" [value]="job.value">
      {{job.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline" *ngIf="action.value === 'job'">
  <mat-label>Secondary Skill</mat-label>
  <mat-select multiple>
    <mat-option *ngFor="let job of skills" [value]="job.value">
      {{job.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

