{{formGroup.value | json}}

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="col-6">
    <h4>Action Name</h4>
    <mat-form-field appearance="outline">
      <mat-label>Action</mat-label>
      <mat-select #action formControlName="actionName">
        <mat-option *ngFor="let action of actions" [value]="action.value">
          {{action.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div formGroupName="actionData">
    <div class="col-6" *ngIf="action.value === 'job'">
      <h4>Primary Skill</h4>
      <mat-form-field appearance="outline" >
        <mat-label>Primary Skill</mat-label>
        <mat-select formControlName="primarySkill">
          <mat-option *ngFor="let job of skills" [value]="job.value">
            {{job.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-6" *ngIf="action.value === 'job'">
      <h4>Secondary Skill</h4>
      <mat-form-field appearance="outline" >
        <mat-label>Secondary Skill</mat-label>
        <mat-select formControlName="secondarySkill" multiple>
          <mat-option *ngFor="let job of skills" [value]="job.value">
            {{job.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="col-12">
    <button class="btn-bordered pe-5 ps-5 rounded-pill float-end" mat-stroked-button>
      Bulk Update
    </button>
  </div>
</form>


