:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.image-container{
  background: #ebebec;
  padding: 20px;
  text-align: center;
}
